:root {
    --clr--purple: rgba(103, 44, 103, 0.724);
    --clr-white: #fff;
    --clr-yellow: rgb(255, 255, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eff0f0;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar header header header"
    "sidebar section section section"
    "sidebar section section section";
}

/* START - HEADER */
.header {
    background: var(--clr-white);
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "header-search header-search user-info"
    "user-presentation user-presentation header-nav";
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.393);
}

.header-search {
    grid-area: header-search;
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content 1fr;
    align-items: center;
    gap: .5rem;
    margin: 20px;
}

#search-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.header-search input {
    background-color: rgba(125, 157, 166, 0.33);
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
}

.user-info {
    grid-area: user-info;
    grid-column: 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

#bell-icon {
    display: block;
    width: 20px;
    height: 20px;
}

#user-icon {
    display: block;
    background-color: var(--clr-yellow);
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#username {
    font-size: 18px;
    font-weight: bold;
}

.user-presentation {
    grid-area: user-presentation;
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content 1fr;
    gap: .9em;
    margin: 20px;
}

.welcome-msg {
    font-weight: bold;
}

.welcome-msg p:last-child {
    font-size: 20px;
}

.header-nav {
    margin-top: 20px;
    grid-area: header-nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-nav li {
    list-style: none;
}

.header-nav li button{
    color: var(--clr-white);
    font-weight: bold;
    background: var(--clr--purple);
    width: 100px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* END - HEADER */

/* START - SIDEBAR */
.sidebar {
    grid-area: sidebar;
    background: var(--clr--purple);
    color: var(--clr-white);
    display: grid;
    grid-auto-rows: max-content;
}

.sidebar-title {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: .2em;
    align-items: center;
    align-self: start;
    margin: 20px 10px;
    
}

#dashboard-icon {
    display: block;
    width: 50px;
    height: 50px;
}

.sidebar-nav, .sidebar-config {
    display: grid;
    gap: 1.4em;
    align-items: center;
    justify-items: start;
    margin: 30px 0 50px 50px;
}

.item {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: .3em;
    align-items: center;
}

.item a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 18px;
}

.sidebar-nav-icon {
    display: block;
    width: 20px;
    height: 20px;
}

/* END - SIDEBAR */

/* START - SECTION */
.section {
    margin: 20px;
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 1em;
}

.user-projects {
    grid-column: 1 / 4;
    grid-auto-rows: min-content;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 5em;
}

.project {
    background: var(--clr-white);
    padding: 15px;
    border-left: 8px solid var(--clr--purple);
    border-radius: 10px;
    display: grid;
    gap: 50px;
}

.project-interaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-interaction ul {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.project-interaction ul li {
    list-style: none;
}

.project-interaction ul li img {
    display: block;
    height: 30px;
    width: 30px;
}

.section-sidebar {
    display: grid;
    gap: .5em;
}

.announcements {
    display: grid;
    gap: 20px;
    padding: 20px;
    background: var(--clr-white);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.trending-list {
    display: grid;
    gap: .5em;
}

.trends {
    display: grid;
    background: var(--clr-white);
    border-radius: 15px;
}

.trending-users {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: .5em;
    padding: 10px;
}

.trending-users a {
    text-decoration: none;
    color: black;
}

.trends-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--clr-yellow);
    border-radius: 100%;
    padding: 10px;
}

.user-page {
    color: rgba(0, 0, 0, 0.793);
}

/* END - SECTION */